<style>
    * {
      background-color: #444;
      padding: 0 1em;
    }
    body {
      background-color: #F0FFFF;
      font-family: 'Gill Sans', sans-serif;
      margin: 1em auto;
      max-width: 50em;
      height: 52.625em;
    }
    #section-left {
      width: 35%;
      float: left;
      height: 150%;
      background-color: #000;
      color: #fff;
      text-align: center;
      /* display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      color: #000; */
    }
    #section-left .section {
      margin-top: 40%;
      padding: 1em;
    }
    #section-left .section .logo {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin: 0 auto;
      background-image: url(selfiekerry.jpg)
    }

    .intro hr {
      /* width: 4em;
      display: block;
      height: 2px;
      border: 0px;
      border-top: 2px solid; */
    }

    .intro .content {
      margin-bottom: 20px;
    }

    #contact {
      margin-top: 40px;
    }

    h1 {
      font-family: 'Gill Sans', sans-serif;
    }

    #section-right {
      width: 65%;
      float: right;
    }
    #section-right .section {
      margin: 0 0 30px 0;
    }
    .wrapper {
      padding: 5em;
    }
    .fa {
      margin-right: 15px;
    }
    .wrapper .title {
      color: #DC143C;
      font-size: 1.3em;
      font-variant: small-caps;
      letter-spacing: 0.1em;
      font-weight: bold;
      border-bottom: 2px solid #f2f2f2;
    }


    h2 {
      text-transform: uppercase;
      font-size: .9em;
    }
    h3 {
      font-size: 0.8em;
      text-transform: uppercase;
      font-weight: normal;
    }
</style>

  
